{% extends 'base.html' %}


{% block content %}
<br>
<table class="table table-light table-bordered table-striped">
    <tbody>
        <tr>
            <th>User Name</th>
            <td>{{user.username}}</td>
        </tr>
        <tr>
            <th>Number</th>
            <td>{{user.contact}}</td>
        </tr>
        <tr>
            <th>Email Id</th>
            <td>{{user.email}}</td>
        </tr>
        <tr>
            <th>City</th>
            <td>{{user.city}}</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>{{user.address}}</td>
        </tr>
    </tbody>
</table>
<div class="text-right">
    {% if request.role == 'Admin' %}

    <a class="btn btn-warning" href="{%  url 'user_edit' user.id %}">Edit</a>
    <a class="btn btn-danger" href="{%  url 'user_delete' user.id %}">Delete</a>
    {% endif %}
</div>
{% endblock content %}